a {
  color: #444444;
}

body {
  background-image: url('bg/geometry/geometry/geometry.png');
  border-top: 6px solid #333;
  color: #333333;
  margin: 0px;
}

footer {
  bottom: 0;
  border-bottom: 6px solid #333;
  position: absolute;
  width: 100%;
}

footer ul {
  padding: 0px;
  margin: 15px;
}

footer li {
  list-style: none;
  display: inline;
}

#wrapper {
  margin: 15px;
}

#main {
  padding: 10px;
}

