/* Solarized colors from: http://thomasf.github.io/solarized-css/ */

html {
  background-color: #002b36;
  color: #839496;
}

a {
  color: #b58900;
}

a:visited {
  color: #cb4b16;
}

a:hover {
  color: #cb4b16;
}

body {
  background-color: #002b36;
  border-top: 6px solid #002b36;
  margin: 0px;
}

body:after {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background-color: rgba(5,25,42,0.5);
    z-index:1;
}

header li {
  display: inline;
  text-decoration: none;
  margin-right: 10px;
}

header ul {
  margin: 5px;
  padding: 0px;
}

footer {
  bottom: 0;
  border-bottom: 6px solid #002b36;
  position: absolute;
  width: 100%;
}

footer ul {
  padding: 0px;
  margin: 15px;
}

footer li {
  list-style: none;
  display: inline;
}

#wrapper {
  margin: 15px;
}

#main {
  padding: 10px;
}

.incognito-link {
  text-decoration: none;
}

.main-item {
  display: inline-block;
  margin-right: 50px;
  vertical-align: top;
}

.notice {
  color: #c5cbd3;
  font-weight: bold;
}
