/* Solarized colors from: http://thomasf.github.io/solarized-css/ */

html {
  background-color: #002b36;
  font-family: monospace;
  font-size: 11pt;
  color: #839496;
}

a {
  color: #b58900;
}

a:visited {
  color: #cb4b16;
}

a:hover {
  color: #cb4b16;
}

body {
  background-color: #002b36;
  border-top: 6px solid #073642;
  margin: 0px;
}

header li {
  display: inline;
  text-decoration: none;
  margin-right: 10px;
}

header ul {
  border-top: 3px solid #073642;
  margin: 5px;
  padding: 5px;
}

footer {
  bottom: 0;
  background-color: #002b36;
  border-bottom: 6px solid #073642;
  border-top: 3px solid #073642;
  position: fixed;
  width: 100%;
}

footer ul {
  padding: 0px;
  margin: 15px;
}

footer li {
  list-style: none;
  display: inline;
}

#wrapper {
  margin: 15px;
}

#main {
  padding: 10px;
}

.incognito-link {
  text-decoration: none;
}

.main-item {
  display: inline-block;
  margin-right: 50px;
  vertical-align: top;
}

.notice {
  color: #c5cbd3;
  font-weight: bold;
}
