{% extends "app.html" %}

{% block content %}
  <div id="main">
    <h2>Education</h2>
    <p>
      I'm an undergraduate Computer Science / Mathematics student studying at
      the University of Maryland, Baltimore County.
    </p>

    <h2>Interests</h2>
    <p>
      I'm interested primarily in Computer Graphics, Functional Programming, and Operating Systems. I'm also an advocate of Free Software, and Linux in general. I may write some articles on those sometime soon.</p>
    </p>
  </div>
{% endblock %}
