{% extends "app.html" %}

{% block content %}
  <div id="main">

    <div id="programming" class="main-item">
      <h2>Programming</h2>
      <ul>
        <li><a href="/404" >Android Othello</a></li>
        <li><a href="https://github.com/CLaverdiere/Fractals">Fractal Art</a></li>
        <li><a href="/404" >Raytracer in C++</a></li>
        <li><a href="https://github.com/CLaverdiere/Four-to-the-Fifth">Top-down HTML5 Shooter</a></li>
      </ul>
    </div>

    <div id="books" class="main-item">
      <h2>Reading</h2>
      <ul>
        {% for book in books %}
          <li><a href="http://en.wikipedia.org/wiki/{{ book }}">{{ book }}</a></li>
        {% endfor %}
      </ul>
    </div>

  </div>
{% endblock %}
