{% extends "app.html" %}

{% block content %}
  <div id="main">

    <div id="programming" class="main-item">
      <h2>Programming</h2>
      <ul>
      {% for p in projects %}
        {% if 'None' not in p.link %}
          <li><a href="{{ p.link }}" >{{ p.name }}</a></li>
        {% else %}
          <li>{{ p.name }}</li>
        {% endif %}
        <small>{{ p.desc }}</small>
        <br /> <br />
      {% endfor %}
      </ul>
    </div>

    <div id="books" class="main-item">
      <h2>Reading</h2>
      <ul>
        {% for book in books %}
          <li><a href="http://en.wikipedia.org/wiki/{{ book }}">{{ book }}</a></li>
        {% endfor %}
      </ul>
    </div>

  </div>
{% endblock %}
